####################
## Project specific
####################
Releases/

#################
## Forge
#################
.gradle/
bin/
build/
config/
crash-reports/
eclipse/
logs/
mods/
resourcepacks/
saves/
world/
banned-ips.txt
banned-players.txt
ops.txt
options.txt
server.properties
servers.dat
white-list.txt

#################
## Eclipse
#################
.classpath
.project
.settings/
*.txt
