---
layout: default
title: Luppii's Ladders - Download
base_url: "../"
mod_releases:
 - ["http://minecraft.curseforge.com/mc-mods/78085-luppiis-ladders/files/2203218/download", "Ladders-0.3.0.jar (MC 1.7.2)", "../Releases/1.7.2/Ladders-0.3.0-MC1.7.2.jar"]
 - ["http://minecraft.curseforge.com/mc-mods/78085-luppiis-ladders/files/2203317/download", "Ladders-0.3.0.jar (MC 1.6.4)", "../Releases/1.6.4/Ladders-0.3.0-MC1.6.4.jar"]
 - ["http://www.curseforge.com/media/files/787/454/Ladders_0.2.1-MC1.7.2.jar", "Ladders_0.2.1.jar (MC 1.7.2)", "../Releases/1.7.2/Ladders_0.2.1-MC1.7.2.jar"]
 - ["http://www.curseforge.com/media/files/787/453/Ladders_0.2.1-MC1.6.4.jar", "Ladders_0.2.1.jar (MC 1.6.4)", "../Releases/1.6.4/Ladders_0.2.1-MC1.6.4.jar"]
 - ["http://www.curseforge.com/media/files/784/743/Ladders-0.2.0-MC1.7.2.jar", "Ladders_0.2.0.jar (MC 1.7.2)", "../Releases/1.7.2/Ladders_0.2.0-MC1.7.2.jar"]
 - ["http://www.curseforge.com/media/files/784/675/Ladders_0.1.0-MC1.6.4.jar", "Ladders_0.1.0.jar (MC 1.6.4)", "../Releases/1.6.4/Ladders_0.1.0-MC1.6.4.jar"]
---

<div id="home">
  <h1>Download</h1>
  <p>You may download and use the releases as you wish. Be aware that the mod is under rapid development and features may change frequently.</p>
  <p>
{% for jar in page.mod_releases %}
    <a href="{{ jar[0] }}">{{ jar[1] }}</a>{% if jar[2] %} (<a href="{{ jar[2] }}">Mirror</a>){% endif %}<br />
{% endfor %}
  </p>
</div>
